# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=

# APP_URL: The URL where this applet is hosted.
APP_URL=

# RAZORPAY PAYMENT INTEGRATION
VITE_RAZORPAY_KEY_ID="rzp_live_TLfxE402PT1cGO"
RAZORPAY_KEY_ID="rzp_live_TLfxE402PT1cGO"
RAZORPAY_KEY_SECRET="ywZ9PwaRiRpsZjGQwkI0Itbk"

# UPI PAYMENT INTEGRATION
VITE_UPI_ID="ramayentertainment@ybl"
VITE_UPI_NAME="The Ujjain Puja Services"

# SUPABASE CONFIGURATION
SUPABASE_URL=
SUPABASE_API_KEY=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=


